<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>SignupSevlet</servlet-name>
        <servlet-class>servlet.SignupSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAction</servlet-name>
        <servlet-class>servlet.UserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData</servlet-name>
        <servlet-class>servlet.admin.LoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>servlet.admin.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload_test</servlet-name>
        <servlet-class>servlet.admin.upload_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>them</servlet-name>
        <servlet-class>servlet.admin.them</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SQL_String</servlet-name>
        <servlet-class>servlet.admin.SQL_String</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sua</servlet-name>
        <servlet-class>servlet.admin.sua</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoa</servlet-name>
        <servlet-class>servlet.admin.xoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData_User</servlet-name>
        <servlet-class>servlet.admin.LoadData_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>them_user</servlet-name>
        <servlet-class>servlet.admin.them_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sua_user</servlet-name>
        <servlet-class>servlet.admin.sua_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoa_user</servlet-name>
        <servlet-class>servlet.admin.xoa_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData_Playlist</servlet-name>
        <servlet-class>servlet.admin.LoadData_Playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Playlist_add_song</servlet-name>
        <servlet-class>servlet.admin.Playlist_add_song</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Playlist_add_check</servlet-name>
        <servlet-class>servlet.admin.Playlist_add_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Find_Songs</servlet-name>
        <servlet-class>servlet.admin.Find_Songs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testa</servlet-name>
        <servlet-class>servlet.admin.testa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test2</servlet-name>
        <servlet-class>servlet.admin.test2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tim_bh</servlet-name>
        <servlet-class>servlet.admin.tim_bh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tim_playlist</servlet-name>
        <servlet-class>servlet.admin.tim_playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RunPlaylist</servlet-name>
        <servlet-class>servlet.RunPlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSongToPlaylistServlet</servlet-name>
        <servlet-class>servlet.AddSongToPlaylistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlaylistServlet</servlet-name>
        <servlet-class>servlet.DeletePlaylistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tim_user</servlet-name>
        <servlet-class>servlet.admin.tim_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reload_Playlist</servlet-name>
        <servlet-class>servlet.admin.Reload_Playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Song_Playlist</servlet-name>
        <servlet-class>servlet.admin.Delete_Song_Playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData_Playlist_Song</servlet-name>
        <servlet-class>servlet.admin.LoadData_Playlist_Song</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_And_Add</servlet-name>
        <servlet-class>servlet.admin.Check_And_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoa_playlist</servlet-name>
        <servlet-class>servlet.admin.xoa_playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sua_playlist</servlet-name>
        <servlet-class>servlet.admin.sua_playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playlist_add</servlet-name>
        <servlet-class>servlet.admin.playlist_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Playlist_Song</servlet-name>
        <servlet-class>servlet.admin.Playlist_Song</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupSevlet</servlet-name>
        <url-pattern>/api/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAction</servlet-name>
        <url-pattern>/api/user/action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData</servlet-name>
        <url-pattern>/admin/LoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/admin/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload_test</servlet-name>
        <url-pattern>/admin/upload_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>them</servlet-name>
        <url-pattern>/admin/them</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SQL_String</servlet-name>
        <url-pattern>/admin/SQL_String</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sua</servlet-name>
        <url-pattern>/admin/sua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoa</servlet-name>
        <url-pattern>/admin/xoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData_User</servlet-name>
        <url-pattern>/admin/LoadData_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>them_user</servlet-name>
        <url-pattern>/admin/them_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sua_user</servlet-name>
        <url-pattern>/admin/sua_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoa_user</servlet-name>
        <url-pattern>/admin/xoa_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData_Playlist</servlet-name>
        <url-pattern>/admin/LoadData_Playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Playlist_add_song</servlet-name>
        <url-pattern>/admin/Playlist_add_song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Playlist_add_check</servlet-name>
        <url-pattern>/admin/Playlist_add_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Find_Songs</servlet-name>
        <url-pattern>/admin/Find_Songs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testa</servlet-name>
        <url-pattern>/admin/testa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test2</servlet-name>
        <url-pattern>/admin/test2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tim_bh</servlet-name>
        <url-pattern>/admin/tim_bh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tim_playlist</servlet-name>
        <url-pattern>/admin/tim_playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunPlaylist</servlet-name>
        <url-pattern>/RunPlaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSongToPlaylistServlet</servlet-name>
        <url-pattern>/AddSongToPlaylistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlaylistServlet</servlet-name>
        <url-pattern>/DeletePlaylistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tim_user</servlet-name>
        <url-pattern>/admin/tim_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reload_Playlist</servlet-name>
        <url-pattern>/admin/Reload_Playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Song_Playlist</servlet-name>
        <url-pattern>/admin/Delete_Song_Playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData_Playlist_Song</servlet-name>
        <url-pattern>/admin/LoadData_Playlist_Song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_And_Add</servlet-name>
        <url-pattern>/admin/Check_And_Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoa_playlist</servlet-name>
        <url-pattern>/admin/xoa_playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sua_playlist</servlet-name>
        <url-pattern>/admin/sua_playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playlist_add</servlet-name>
        <url-pattern>/admin/playlist_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Playlist_Song</servlet-name>
        <url-pattern>/admin/Playlist_Song</url-pattern>
    </servlet-mapping>
</web-app>
