<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>SignupSevlet</servlet-name>
        <servlet-class>servlet.SignupSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAction</servlet-name>
        <servlet-class>servlet.UserAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupSevlet</servlet-name>
        <url-pattern>/api/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAction</servlet-name>
        <url-pattern>/api/user/action</url-pattern>
    </servlet-mapping>
</web-app>
