#title_page
{
    margin-left: 40%;
}

body 
{
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

table, th, td 
{
  border: 1px solid black;
}
th
{
    background-color: blue;
    color: white;
}